
/* GLOBAL CSS */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700,700italic);

body{
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

/* Header */
.header_main{
	margin-bottom: 40px;
}
.header_bar{
	float:right;
	padding : 10px;
}
.header_logo{
	text-align: center;
	margin-bottom: 20px;
}

/* Footer */

.logo_footer{
	display: block;
	padding-bottom:20px;
}

.footer_main_top_bck{
	background-color: rgb(238,238,238);
}
.footer_main_top{
	padding : 20px 20px 0 20px;
	font-size: 12px;
	line-height: 14px;
}
.footer_main_top .title_block{
	color : rgb(224,5,5);
	font-size: 15px;
	line-height: 17px;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.footer_main_top ul{
	list-style: none;
}
.footer_main_top li{
	padding : 2px 0;
}
.footer_main_left{
	float: left;
	width:675px;
}
.footer_main_right{
	float: left;
	width:303px;
}
.footer_main_left>div,
.footer_main_right>div{
	display: block;
	vertical-align: top;
	padding-right: 35px;
	margin-bottom: 20px;
	float:left;
}
.footer_main_right>div{
	padding-right: 30px;
	width : 135px;
}
.footer_main_right>div:nth-of-type(2n){
	padding-right: 0;
}

/* Footer social */

#footer_social ul{
	list-style: none;
}
#footer_social ul li{
	float:left;
}
#footer_social ul li a{
	display: block;
	width : 25px;
	height: 25px;
	background-position: center;
	background-repeat: no-repeat;
}
#footer_social .footer_facebook{
	background-image: url("../img/facebook.png");
}
#footer_social .footer_twitter{
	background-image: url("../img/twitter.png");
}
#footer_social .footer_pinterest{
	background-image: url("../img/pinterest.png");
}
#footer_social .footer_instangram{
	background-image: url("../img/instangram.png");
}

/* Footer bottom */

.footer_main_bottom_bck{
	background-color: black;
}
.footer_main_bottom{
	color :white;
	padding: 20px 0;
}
.footer_main_bottom_left{
	float:left;
	width : 600px;
}
.footer_main_bottom_left ul{
	list-style: none;
}
.footer_main_bottom_left ul li{
	float:left;
}
.footer_main_bottom_left ul li a{
	padding-right: 20px;
}

.footer_main_bottom_right{
	float:right;
}
.footer_main_bottom_right .title_block{
	text-transform: uppercase;
	font-size: 14px;
	padding-left: 3px;
}
#footer_paiement ul{
	list-style: none;
}
#footer_paiement ul li{
	float:left;
}
#footer_paiement ul li a{
	display: block;
	height:35px;
	width:35px;
	padding-right: 5px;
	background-position: center;
	background-repeat: no-repeat;
}
#footer_paiement .footer_visa{
	background-image: url("../img/visa.png");
}
#footer_paiement .footer_mastercard{
	background-image: url("../img/mastercard.png");
}
#footer_paiement .footer_americanexpress{
	background-image: url("../img/americanexpress.png");
}
#footer_paiement .footer_paypal{
	background-image: url("../img/paypal.png");
}

/* Copyright*/
.copyright{
	text-align: center;
	padding: 20px 0;
	font-size: 12px;
}

/* BLOC USER INFO */
.blockuserinfo{
	float:left;
	list-style: none;
}
.blockuserinfo li{
	float:left;
}
.blockuserinfo li a{
	display: block;
	height: 30px;
	width: 30px;
	background-repeat: no-repeat;
	background-position: center;
}
.menu_user{
	background-image: url('../img/user.png');
}
.menu_cart{
	background-image: url('../img/cart.png');
}

/* BLOC FAV */
.blockfav{
	float:left;
	list-style: none;
}
.blockfav li a{
	display: block;
	height: 30px;
	width: 30px;
	padding : 0 10px;
	background-repeat: no-repeat;
	background-position: center;
}
.menu_heart{
	background-image: url('../img/heart	.png');
}

/* BLOC SEARCH */

#search_block_top{
	float:left;
}
#search_block_footer #searchbox{
	position: relative;
}

#search_block_top .button,
#search_block_footer .button{
	border : 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
	display: inline-block;
	width : 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../img/search.png');
}
#search_block_footer .button{
	position: absolute;
	right :-3px;
	top : -1px;
}
#search_block_top .button:hover{
	cursor: pointer;
}
#search_block_top .search_query,
#search_block_footer .search_query{
	border : 0;
	padding: 0;
	margin: 0;
	width : 100px;
	font-size: 15px;
	font-family: Roboto, Arial, sans-serif;
	text-transform: uppercase;
}

#search_block_footer .search_query{
	width : 128px;
	padding : 2px 5px;
	border : 1px solid black;
	text-transform: none;
}

/* BLOC TOP MENU */

#nav_principal{
	font-weight: 300;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	position: relative;	
}

#nav_principal .sf-menu{
	display: inline-block;
	background-color: white;
	position: relative;
	z-index: 10;
}

#nav_principal>ul>li{
	float:left;
	padding : 0 20px;
}

#nav_principal .menu_backline{
	display: block;
	position: absolute;
	border-top: 1px solid rgb(224,5,5);
	width: 100%;
	top : 10px;
	left: 0;
	z-index: 0;
}


/* BLOC HOME SLIDER */
.homeslider{
	margin-bottom: 30px;
}
.homeslider_slide>img{
	float:left;
}
.homeslider_content{
	float:left;
	width:266px;
	height:410px;
	padding : 20px;
	background-color: rgb(238,238,238);
}
.homeslider_content h1{
	color : rgb(224,5,5);
	font-size: 35px;
	line-height: 37px;
	font-weight: 700;
	text-transform: uppercase; 
	margin-bottom: 20px;
}

.homeslider .controls{
	position: absolute;
	height: 30px;
	width:60px;
	bottom : 0px;
	right : 0px;
	font-size: 50px;
	color :rgb(200,200,200);
	line-height: 10px;
	z-index: 101;
	overflow: hidden;
}
.homeslider .controls a{
	width:30px;
	float:left;
}
.homeslider .cycle-pager-active{
	color : rgb(224,5,5);
}
.homeslider .cycle-pager:hover{
	cursor: pointer;
}
.homeslider .cycle-pager span{
	display: inline-block;
	height: 20px;
}
.homeslider .seeproduct{
	width:108px;
	height:30px;
	display:block;
	color:white;
	text-decoration:none;
	line-height:30px;
	font-size:16px;
	padding-left:40px;
	background:url(../img/seeproduct.png) no-repeat 10px center #E00505;
	margin-top:40px;
}

/* BLOC INFINIT WALL */

#infinit_wall{

}

/* Vignette 2x2 */
#infinit_wall .iw_2x2{
	width : 306px;
	height: 306px;
	position: relative;
	float:left;
	margin-right: 30px;
	margin-bottom: 30px;
}
#infinit_wall .iw_2x2 p{
	position: absolute;
	bottom:0;
	left:0;
	width: 306px;
	text-align: center;
	font-size: 35px;
	line-height: 40px;
	padding : 10px 0;
	font-weight: 700;
	background-color: rgb(224,5,5);
	color:white;
	text-transform: uppercase;
}

/* Conteneur 4 colonnes */
.iw_4{
	float:left;
	width : 642px;
	height : 138px;
	margin-bottom: 30px;
}

.iw_4 .iw_product:nth-of-type(4n){
	margin-right:0;
}

/* Conteneur 6 colonnes */
.iw_6 .iw_product:nth-of-type(6n){
	margin-right: 0;
}

/* Vignette 2x1 */
.iw_2x1{
	width:306px;
	height : 138px;
	margin-right: 30px;
	margin-bottom: 30px;
	float:left;
}

/* Vignette 1x1 */
.iw_product{
	float:left;
	margin-right: 30px;
	margin-bottom: 30px;
	position: relative;
}

.iw_product_hover{
	background-color: rgb(224,5,5);
	width : 138px;
	height : 138px;
	position:absolute;
	top : 0;
	left : 0;
	display: none;
}
.iw_product:hover .iw_product_hover{
	display: block;
}
.iw_product_hover p {
	color :white;
	font-size: 45px;
	line-height: 37px;
	font-weight: 200;
	text-align: center;
	padding-top: 30px;
}
.iw_product_hover ul{
	list-style: none;
	text-align: center;
	padding-top: 15px;
}
.iw_product_hover ul li{
	display: inline-block;
}
.iw_product_hover ul li a{
	display: block;
	height: 30px;
	width: 30px;
	background-position: center;
	background-repeat: no-repeat;
}
.iw_product_hover .heart{
	background-image: url('../img/heart_blanc.png');
}

.iw_product_hover .info{
	background-image: url('../img/info.png');
}

/* Vignette free shipping */
.iw_free_shipping a{
	display: block;
	text-align: center;
	font-size: 35px;
	line-height: 37px;
	height : 118px;
	padding : 10px 0;
	font-weight: 700;
	background-color: rgb(224,5,5);
	color:white;
	text-transform: uppercase;
}
.iw_free_shipping a span{
	font-weight: 400;
	font-size: 20px;
	line-height: 22px;
}
.iw_free_shipping a:hover{
	text-decoration: none;
}

/* Vignette newsletter */

.iw_newsletter>div{
	height : 118px;
	padding : 10px 10px;
	background:rgb(224,5,5);
}
.iw_newsletter div .title_block{
	color : white;
	text-align: center;
	font-size: 35px;
	line-height: 37px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}
#newsletter_block_main .inputNew{
	border :none;
	padding: 5px 10px;
	margin: 0;
	width : 220px;
	font-size: 15px;
	font-family: Roboto, Arial, sans-serif;
	background:transparent;
	color:white;
}
#newsletter_block_main form p{
	border:1px solid white;
}
#newsletter_block_bottom .inputNew{
	width : 128px;
	padding: 2px 5px;
	font-size: 15px;
	margin:0; 
	font-family: Roboto,Arial,sans-serif;
	border : 1px solid rgb(224,5,5);
	text-transform: none;
}
#newsletter_block_main .button_mini{
	border : 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
	display: inline-block;
	width : 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../img/fusee2.png');
}
#newsletter_block_bottom .button_mini{
	border : 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
	display: inline-block;
	width : 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../img/fusee.png');	
}
#newsletter_block_main .button_mini:hover{
	cursor: pointer;
}
#newsletter_block_main .block_content>p,
#newsletter_block_bottom .block_content>p{
	color :black;
	font-size: 12px;
	text-transform: none;
	font-weight: 400;
	margin : 5px 0;
}
#newsletter_block_bottom .block_content>p{}
#newsletterbox{
	position: relative;
}
#newsletter_block_bottom .button_mini{
	position: absolute;
	top:-1px;
	right:-3px;	
}
#newsletter_block_bottom{
	padding-right: 0;
}







#wall{
	display:none;
}

#loading{
	width:150px;
	height:40px;
	line-height:30px;
	margin:20px auto;
	color:#E30000;
	font-size:14px;
}

#loading img{
	float:left;
	margin-right:20px;
}